Repository HadesArchitect/GrafanaCassandraDatasource, pull requests merged in 2021-01, with the labels that each got.

#60 Update README.md
  README.md
Labels: documentation

#62 Minor refactoring to Golang codestyle
  backend/datasource.go
  backend/query_builder.go
  backend/query_builder_test.go
  backend/query_processor.go
Labels: backend, refactoring

#65 implemented AWS requirements
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
  Gopkg.lock
  Gopkg.toml
  README.md
  backend/assets.go
  backend/creds/.gitkeep
  backend/datasource.go
  backend/go.mod
  backend/go.sum
  backend/models.go
  backend/plugin.go
  backend/query_processor.go
  backend/read_tls.go
  src/partials/config.html
Labels: backend, build, enhancement
